<%- include ('partials/header.ejs'); %>
<body>
    <%- include ('partials/navbar.ejs'); %>
    <div class="container mt-5">
        <h2>Cadastro de Cirurgia</h2>
        <form action="/salvar_cirurgia" method="POST">
          <div class="form-group">
            <label for="medico">Médico:</label>
            <input type="text" class="form-control" id="medico" name="medico" required>
          </div>
          <div class="form-group">
            <label for="medico">Paciente:</label>
            <input type="text" class="form-control" id="paciente" name="paciente" required>
          </div>
          <div class="form-group">
            <label for="dia">Dia:</label>
            <input type="date" class="form-control" id="dia" name="dia" required>
          </div>
          <div class="form-group">
            <label for="hora">Hora:</label>
            <input type="time" class="form-control" id="hora" name="hora" required>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="pago" name="pago">
            <label class="form-check-label" for="pago">Pago</label>
          </div>
          <br>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Tipos de Cirurgias</label>
            <select class="form-control" id="tipoCirurgia" name="tipoCirurgiaId">
                <% TipoDeCirurgias.forEach(TipoDeCirurgia => { %>
                    <option id="tipoCirurgiaId" value="<%= TipoDeCirurgia.id %>"><%= TipoDeCirurgia.nome %> </option>
                <% }) %>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Tipos de Convenios</label>
            <select class="form-control" id="TipoDeConvenio" name="tipoConvenioId">
                <% TipoDeConvenios.forEach(TipoDeConvenio => { %>
                    <option id="tipoConvenioId" value="<%= TipoDeConvenio.id %>"><%= TipoDeConvenio.nome %> </option>
                <% }) %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
        </form>
      </div>
</body>
<%- include ('partials/footer.ejs'); %>